body {
    background-color: #fafafa;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    padding: 2rem 3rem;
}

p {
    margin-bottom: 9rem;
}

a {
    color: #4a4a4a;
    text-decoration: none;
}

a:visited {
    color: #4a4a4a;
}

a:hover,
a:focus {
    color: #111;
    text-decoration: underline;
}

h3 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0.5rem 0;
}
